*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


/* Form starts */
.form{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frm{
    min-width: 400px;
    padding-top: 15px;
    box-shadow: 0px 1px  #90979d;

}

.rgstr{
    text-align: center;
    color: #454545;
    font-family: serif;
    font-size: 25px;
    font-weight: 100px;
    padding-bottom: 30px;
}

.opt{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.form_dec{
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
}

input[type='text'],input[type='password'],input[type='email']{
    margin-bottom: 20px;
    padding: 10px 5px;
    border-radius: 3px;
    border: 1px solid #f7f6f7;
    border-bottom: 1px solid #aaabad;
}

input[type='submit']{
    margin: 10px 0;
    padding: 5px 10px;
    color: white;
    background-color: #0166cd;
    border: 1px solid;
    border-radius: 3px;
    margin-bottom: 25px;
}

.login{
    text-decoration: none;
    color: #7ab1da;
    font-size: 12px;
    margin-bottom: 10px;
}

label{
    color: #535354;
    font-family: serif;
}
/* Form ends */